[Unit]
Description=goflyway
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/local/usr/bin/goflyway -lv dbg:512000+/var/log/gofw/running.csv

[Install]
WantedBy=multi-user.target