<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="goflywin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <goflywin.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="AutoMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>iplist</value>
            </setting>
            <setting name="DNSCache" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </goflywin.Properties.Settings>
    </userSettings>
</configuration>
